@import "@radix-ui/colors/olive.css";
@import "@radix-ui/colors/grass.css";
@import "@radix-ui/colors/tomato.css";
@import "@radix-ui/colors/black-alpha.css";
@import 'normalize.css';

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}